<?xml version="1.0" encoding="UTF-8"?>

<!-- By default, the configuration file will be scanned for changes once every minute -->

<configuration scan="true" scanPeriod="5 seconds">

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <appender name="CLOUDWATCH_LOGS" class="com.boxfuse.cloudwatchlogs.logback.CloudwatchLogsLogbackAppender"/>
    <root level="info">
        <appender-ref ref="CLOUDWATCH_LOGS" />
    </root>

</configuration>